<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>73419662405-ddn58887ad2uuduph58seamteorta7vc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.73419662405-ddn58887ad2uuduph58seamteorta7vc</string>
	<key>API_KEY</key>
	<string>AIzaSyAUbH4sPnF1XLxu4Lov05NGKEbJNZC4tp4</string>
	<key>GCM_SENDER_ID</key>
	<string>73419662405</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sanayed.tulipAlerts</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-ai-agent-waseem</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-ai-agent-waseem.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:73419662405:ios:170ab7b5bf8e9ef6392f2c</string>
</dict>
</plist>